* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.row {
    margin: 0;
}

.wrap {
    display: grid;
    grid-template-columns: 40% 60%;
}

.about {
    background: #000;
    color: #fff;
}

.about a {
    display: block;
    color: #fff;
    margin: 15px 0;
}

.about .contact img {
    width: 30px;
}

/* Content */
.content span.line {
    width: 100%;
    height: 6px;
    display: block;
    background: linear-gradient(50deg, white, black);
}

.educacion,
.experiencia,
.skills {
    padding: 30px 20px;
}

.educacion .item,
.experiencia .item {
    display: grid;
    grid-template-columns: 40% 60%;
}

.educacion .borde,
.experiencia .borde {
    height: 50%;
    position: absolute;
    display: block;
    width: 2px;
    background: black;
    top: 26%;
    right: calc(70% - 20px);
}

.educacion .item p:nth-child(2),
.experiencia .item p:nth-child(2) {
    position: relative;
}

.educacion .item p:nth-child(2)::after,
.experiencia .item p:nth-child(2)::after {
    content: '';
    display: block;
    position: absolute;
    left: calc(-16% + 3px);
    width: 11px;
    height: 11px;
    background: black;
    border-radius: 50%;
    top: 6px;
}

.skills p {
    text-align: center;
}

.skills .item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}